Repository D3strukt0r/weleda-webcenter-text-export, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker, source, test

Release 2.0.1
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/label.yml
Labels: source

Release 2.0.2
  .github/dependabot.yml
  pwa/package.json
  pwa/pnpm-lock.yaml
Labels: source

Release 2.0.3
  pwa/src/hooks/useDarkMode.tsx
Labels: source

test
  compose.build.yml
Labels: repo, source

test
  pwa/.docker/rootfs/docker-entrypoint.d/10_listen-on-ipv6-by-default.sh
Labels: docker, source

test
  pwa/src/components/FileDrop.test.tsx
Labels: source, test

test
  pwa/src/components/FileDrop.tsx
Labels: source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - pwa/.docker/**/*
  - pwa/.dockerignore
  - pwa/Dockerfile
  - docker-compose.yml

# Add 'source' label to any change to files within the source dir EXCEPT for the test files
source:
  - pwa/public/**/*
  - pwa/src/**/*
  - "!pwa/src/**/*.test.tsx"

# Add 'test' label to any change to files within the source dir that are tests
test:
  - pwa/src/**/*.test.tsx
